---
# https://github.com/github/gitignore
#
# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.disable
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps
config/themes/**/
addons/*
backup/*
share/*
ssl/*
config/glances
config/tts
config/www/images/persons/*
config/entities/binary_sensors/ping_private/*
config/entities/zones/zones_private/*
config/.stubs/*
config/secrets/*

# Specific file ignores
config/.config_entries.json
config/.google.token
config/.homekit.state
config/.ios.conf
config/.ip_authenticated.yaml
config/.spotify-token-cache
config/.tradfri_psk.conf
config/.uuid
config/core
config/google_calendars.yaml
config/html5_push_registrations.conf
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/secrets.yaml
config/README.md
config/.gitignore
config/.yamllint
config/www/videos/seasons/halloween.mp4
config/integrations/anniversaries.yaml

# ESPHome ignores
config/esphome/**/

# Ignore add-on files
config/aircast.xml
config/airsonos.xml
config/notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
