---
# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps

# Specific file ignores
config/.config_entries.json
config/.google.token
config/.homekit.state
config/.ios.conf
config/.ip_authenticated.yaml
config/.spotify-token-cache
config/.tradfri_psk.conf
config/.uuid
config/core
config/google_calendars.yaml
config/html5_push_registrations.conf
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/secrets.yaml

# ESPHome ignores
config/esphome/secrets.yaml
config/esphome/**/

# Ignore add-on files
config/aircast.xml
config/airsonos.xml
config/notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep

# Manuel control
addons/*
backup/*
share/*
ssl/*
config/custom_components
config/customizations
config/deps
config/glances
config/tts
config/_gsdata_/*
.stubs/_gsdata_/*
_gsdata_/*
config/README.md
config/.gitignore
config/.yamllint
config/.stubs/*
